body {
    background-color: #f0f0f0;
    margin: 0px;
}

h1 {
    padding: 0;
    margin-top: 0;
}

#app {
    width: 100%;
    margin: auto;
    font-family: "Asap", sans-serif;
}

.wrap-nav {
    width: 100%;
    background-color: blue;
}

#nav {
    max-width: 1200px;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav .logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

#nav .logo img {
    width: 40px;
    padding-right: 10px;
}

#nav .logout {
    color: #fff;
    text-decoration: none;
}