h1,
h2,
h3 {
    margin: 0px;
}

.home,
.more {
    max-width: 1200px;
    margin: 0px auto;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 530px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.card-rev p {
    margin: 0px;
    padding-top: 10px;
    font-size: 12px;
    text-align: justify;
    line-height: 15px;
}

.card-but {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.card-but .more-info a {
    font-size: 12px;
    text-decoration: none;
    color: blue;
}

.add-to-list,
.romove-from-list {
    border: none;
    border-radius: 3px;
    padding: 8px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
}

.top-container {
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
    align-items: center;
}

.like a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    background-color: blue;
    color: #fff;
}

.search-container {
    position: relative;
}

input {
    padding: 4px 12px;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.12);
    transition: 0.15s all ease-in-out;
    background: white;
}

input:focus {
    outline: none;
    transform: scale(1.05);
}

input:focus+label {
    font-size: 10px;
    transform: translateY(-18px) translateX(-12px);
}

input::-webkit-input-placeholder {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 100;
}